body {
  display: block;
  justify-content: center;
  background-color: #1d1d1d;
}

#imgDirSection {
  margin-top: 200px;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

nav {
  text-align: center;
  left: 8px;
  top: 10px;
  right: 7px;
  position: fixed;
  background-color: #1d1d1d;
  border-radius: 5px;
  border: solid 1px rgb(255, 255, 255);
  z-index: 4;
  padding: 10px;
}



#botonesNav {
  display: inline-block;
  justify-content: center;
  margin: auto auto;
  width: 100%;
}

#rutaPath {
  display: inline-block;
  justify-content: center;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
}

#rutaPath div {
  display: inline-block;
  justify-content: center;
  margin: auto auto;
  padding: 0;
}

#rutaPath div a {
  padding: 0px;
  margin: auto auto;
}

#rutaPath a:hover {
  color: rgb(89, 173, 89);
}

#btnsAcciones {
  margin-left: 20px;
  display: inline-block;
}


#btnsAcciones p {
  color: #bd8307;
}

button {
  color: #ffffff;
  background-color: #bd8307;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 1px solid transparent;
  font-size: 0.9rem;
  border-radius: .25rem;
  margin: 4px 0px;
}

button:hover {
  background-color: #463002;
}

#filterForName-container {
  margin-left: 20px;
  display: inline-block;
  text-align: center;
  label {
    color: orange;
    margin-right: 10px;
  }
}

#menuDesplegable{
  margin: 4px 0px 0px 20px;
  display: inline-block;
  justify-content: center;
}

#icoMenu {
  div {
    border: solid 1px orange;
    width: 35px;
    margin-bottom: 5px;
  }
}

#icoMenu:hover {
  div {
    border: solid 1px gray;
  }

}

#menuContainer{
  outline: none;
  position: absolute;
  border: solid 1px white;
  margin-top: 4px;
  padding: 5px;
  background-color: #2c2c2c;
  text-align: left;
}
#menuContainer p{
color: orange;
margin: 0 0;
font-size: 15px;
}

#btnLogout{
  outline: none;
}




#mvDirFileContainer {
  div {
    margin-bottom: 10px;
  }

}

section {
  width: 100%;
  text-align: center;
}

section article {
  /* border: solid 1px white; */
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  display: inline-block;
  justify-content: center;
}


.mvDirFile {
  margin-left: 80%;
  visibility: hidden;
}

section article p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: orange;
  font-size: small;
  text-align: center;
}

section img:hover {
  opacity: 0.1;
  /* background: rgb(117, 8, 8); */
}

footer {
  padding: 5px;
  text-align: center;
  border: solid 1px white;
  color: orange;
  border-radius: 5px;

  p {
    margin: 0;
  }
}

#cajaDel {
  text-align: center;
  padding: 20px;
  margin: 30px 25%;
  margin-top: 100px;
  border-radius: 20px;
}

#cajaDel p {
  text-align: center;
  font-weight: bold;
  margin: auto;
  display: inline;
  text-align: center;
}

.form {
  display: inline;
  margin: 10px;
}

.dirContainer {
  padding: 20px;
  background-color: #1d1d1d;
  ;
}

.dirContainer img {
  width: 200px;
  height: 200px;
}

.dirContainer p {
  word-break: break-all;
}

.imgContainer {
  padding: 20px;
  background-color: #1d1d1d
}

.imgContainer img {
  width: 200px;
  height: 200px;
}

.imgContainer p {
  word-break: break-all;
}

#infoImgBox-container{
  /* height: 25%; */
  /* width: 50%; */
}

#infoImgBox button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#infoImgBox img {
  margin: 30px;
  /* width: 25%; */
}

#infoImgTable¡,
thead,
th,
tbody,
tr,
td {
  border: solid 1px;
}

/* SECCIÓN DE EDITAR DIRECTORIOS */

#editPathFolders {
  text-align: center;
  color: orange;

  h1 {
    font-size: 25px;
    text-align: center;
  }
}

#mkdirsection {
  h1 {
    font-size: 25px;
    text-align: center;
    color: orange;
  }

}

#userManaContainer {
  h1 {
    font-size: 25px;
    text-align: center;
    color: orange;
  }

  div {
    text-align: center;
  }
}


#seccionCarpetasImagenes-container h3 {
  margin-top: 150px;
  color: orange;
}

table,
thead,
tbody,
tr,
td,
th {
  width: 100%;
  border: 1px solid;
}

table td,
th {
  width: 100%;
  padding: 10px;
}

table {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
  color: white;
}

.menu-container {
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

.boton {
  margin: 20px;
}

#newPathDiv {
  box-sizing: border-box;
  border: solid 1px black;
  margin: 20px;
  padding: 10px;
}

.newPathContainer {
  display: flex;
  justify-content: center;
}

.newPathNav {
  display: flex;
  justify-content: center;

}

.newPathNav button {
  margin: auto 10px;
}

.home-directory {
  display: flex;
  justify-content: center;
  text-align: center;
  float: left;
}

.file-directory {
  display: flex;
  justify-content: center;
  float: left;
}

.dir-list li {
  list-style: none;
}

#absolutPath {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.ventana-emergente {
  position: absolute;
  margin-top: 50px;
  left: 50%;
}


.contenido-emergente {
  background-color: #2c2c2c;
  position: relative;
  left: -50%;
  padding: 25px;
  z-index: 2;
  border: solid 3px white;
}

.subventana-emergente {
  position: absolute;
  margin-top: 150px;
  left: 50%;
  z-index: 3;
}

#newImgSection {
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin-bottom: 20px;

  h1 {
    font-size: 25px;
    color: orange;
  }
}

#menuNewImgSection {
  margin-bottom: 20px;

}

#imgFile {
  display: inline-block;
  justify-content: center;
  cursor: pointer;
}


#listaImagenes img {
  width: 100px;
  height: 100px;
  margin: 4px;
}


li {
  padding: 0;
}

.botonList {
  background-color: black;
  margin: 0;
  width: 100%;
  border-radius: 0%;
  border: solid 1px #4c5358;
}




.pointer {
  cursor: pointer;
}



.linea {
  border-top: 1px solid white;
  height: 2px;
  max-width: 400px;
  padding: 0;
  margin: 20px auto 0 auto;
}



/** CARGANDO SUBIDA DE IMÁGENES **/

.loader{
  position: relative;
  font-size: 48px;
  letter-spacing: 2px;
}
.loader:before {
  content: "Loading";
  color: #fff;
}
.loader:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ff3d00;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  top: -70px;
  animation: motion 3s ease-in-out infinite;
}

@keyframes motion {
  0%, 50%, 100% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-100px) scale(0.3);
  }
  75% {
    transform: translateX(100px) scale(0.3);
  }
}

