<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta Content-Type="text/html" charset="UTF-8">
    <title>GESTOR DE IMÁGENES</title>
    <link type="text/css" rel="stylesheet" href="/css/galeria.css">
    <script type="text/javascript" src="/js/galeriaFunctions.js"></script>
</head>

<body id="body">
    <header id="header-container">
    </header>
    <nav id="nav">

        <div id="botonesNav">
            <div id="btnsAcciones">
                <button onclick="editPathFolders()">BIBLIOTECAS</button>
                <button onclick="menuMkDir()">CREAR CARPETA</button>
                <button onclick="menuNewImages()">SUBIR IMÁGENES</button>
                <button th:if="${roleType == 'ADMIN'}" onclick="userManagement()">GESTIÓN USUARIOS</button>
            </div>
            <div id="btnsUsuario">
                <button onclick="userInfo()">INFO USUARIO</button>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">LOGOUT</button>
                </form>
            </div>
        </div>
        <h3 id="rutaPath"></h3>
    </nav>

    <section>
        <div id="respMsg"></div>
        <div id="seccionCarpetasImagenes" class="center"></div>
    </section>
    <footer>
        <p>Footer blah blah blah ....</p>
    </footer>




</body>

</html>